
header{
    min-height: 100vh;
}


.nav-item.dropdown{
     transition: all 0.3s ease;
}
.dropdown-menu{
    transform: translateY(30px);
    transition: all 0.3s ease;
    display: block;
    visibility: hidden;
    opacity: 0;
}

.nav-item.dropdown:hover .dropdown-menu{
    display: block;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
nav{
    background-color: #104f78;
    border-radius: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}